@font-face {
    font-family: "Source Italic";
    src: url(../fonts/SourceSerif4-Italic-VariableFont_opszwght.ttf);
}
@font-face {
    font-family: "Source";
    src: url(../fonts/SourceSerif4-VariableFont_opszwght.ttf);
}
@font-face {
    font-family: "Julius";
    src: url(../fonts/JuliusSansOne-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
}
.logo{
    width: 150px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 164px;
    
}
.main_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.main_header > a{
    font-family: "Julius";
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    color: #00D1FF;
}
.navigation{
    display: flex;
    justify-content: space-between;
    width: auto;
    align-items: center;
    gap: 20px;
}
.navigation > a{
    text-decoration: none;
    color: black;
    font-family: "Source";
    font-size: 20px;
    
}
.app_button{
    background: #00D1FF;
    color: white !important;
    font-size: 16px !important;
    width: 105px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.main{
    display: flex;
    justify-content: center;
}
.container{
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 800px;
    gap: 20px;
}
.header_text{
    font-weight: 400;
    font-size: 42px;
    line-height: 150%;
    color: #000;
    font-family: "Source";
    width: 100%;
    text-align: center;
}
.questions{
    gap: 59px;
    display: flex;
    flex-direction: column;
}
.question_block{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
}
.question_block > h1{
    font-size: 30px;
    font-family: "Source";
    font-weight: 400;
}
.question_block > h2{
    font-weight: 400;
    font-size: 24px;
    font-family: "Source";
    line-height: 150%;
    text-decoration-skip-ink: none;
    color: #828282;
}
footer{
    display: flex;
    justify-content: center;
    height: 300px;
}
.main_footer{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.upper_left{
    width: 60%;
    align-items: center;
    display: flex;
}
.upper_right{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
}
.upper_left > h1{
   display: flex;
   
   font-weight: 100;
   font-family: "Julius";
}
.bottom{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.text > h2{
    text-decoration: none;
    font-size: 16px;
    font-family: "Source";
    font-weight: normal;
}
.text > a{
    text-decoration: none;
    font-size: 16px;
    font-family: "Source";
    font-weight: normal;
    color: #454545;
}
.text > a > h3{
    text-decoration: none;
    font-size: 16px;
    font-family: "Source";
    font-weight: normal;
    border-bottom: 0px solid transparent;
    transition: border-width 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.text > a > h3:hover{
    border-width: 1px;
    border-color: #454545;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 24px;
   
}
.icons_div{
    display: flex;
    gap: 69px;
    height: 100px;
}
.icons_div > img{
    height: 30px;
}
