@font-face {
    font-family: "Source Italic";
    src: url(../fonts/SourceSerif4-Italic-VariableFont_opszwght.ttf);
    font-weight: normal;
}
@font-face {
    font-family: "Source";
    src: url(../fonts/SourceSerif4-VariableFont_opszwght.ttf);
    font-weight: normal;
}
@font-face {
    font-family: "Julius";
    src: url(../fonts/JuliusSansOne-Regular.ttf);
    font-weight: normal;
}
a > img{
    width: 100px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .form_div{
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
  .form_div > h1{
    font-family: "Source";
    font-weight: normal;
  }
  .form_div > label{
    font-family: "Source";
  }
  
  input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: #00D1FF;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #00acd2;
  }
  
  button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }
  @font-face {
    font-family: "Source Italic";
    src: url(../fonts/SourceSerif4-Italic-VariableFont_opszwght.ttf);
}
@font-face {
    font-family: "Source";
    src: url(../fonts/SourceSerif4-VariableFont_opszwght.ttf);
}
@font-face {
    font-family: "Julius";
    src: url(../fonts/JuliusSansOne-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 164px;
    border-bottom: 1px solid rgb(160, 160, 160) ;
    
}
.main_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.main_header > a{
    font-family: "Julius";
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    color: #00D1FF;
}
.navigation{
    display: flex;
    justify-content: space-between;
    width: auto;
    align-items: center;
    gap: 20px;
}
.navigation > a{
    text-decoration: none;
    color: black;
    font-family: "Source";
    font-size: 20px;
    
}
.app_button{
    background: #00D1FF;
    color: white !important;
    font-size: 16px !important;
    width: 105px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.main{
    min-height: 57vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 380px;
}
.right_container{
    width: 50%;
    height: 857px;
    display: flex;
    justify-content: center;
}
.right_container > img{
    height: 898px;
}
.ticket_form{
    gap: 30px;
}
.left_container{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}
.left_container > h1{
    font-family: "Source";
    font-size: 60px;
}
.left_container > h2{
    font-family: "Source";
    font-size: 24px;
    color: #828282;
    font-weight: normal;
    line-height: 150%;
}
.left_container > h3{
    font-family: "Source";
    font-size: 20px;
    font-weight: normal;
    line-height: 150%;
}
footer{
    display: flex;
    justify-content: center;
    height: 264px;
}
.main_footer{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: solid #E6E6E6 1px;
}
.upper_left{
    width: 60%;
}
.upper_right{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    gap: 32px;
}
.upper_left > h1{
   height: 80%;
   display: flex;
   font-weight: 100;
   font-family: "Julius";
}
.bottom{
    width: 100%;
}
.text > h2{
    text-decoration: none;
    font-size: 16px;
    font-family: "Source";
    font-weight: normal;
}
.text > a{
    text-decoration: none;
    font-size: 16px;
    font-family: "Source";
    font-weight: normal;
    color: #454545;
}
.text > a > h3{
    text-decoration: none;
    font-size: 16px;
    font-family: "Source";
    font-weight: normal;
    color: #454545;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 24px;
   
}
.icons_div{
    display: flex;
    gap: 69px;
}
@media screen and (min-width: 2560px) {
    .container{
        min-height: 75.8vh;
    }
    .right_container{
        height: 100%;
    }
    .right_container > img{
        height: 100%;
    }
}
@media screen and (max-width:1024px) {
    .text > h2{
        font-size: 10px;
    }
    .text > h3{
        font-size: 10px;
    }
    .upper_left > h1{
        font-size: 20px;
        text-align: center;
    }
    .upper_left{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main_footer{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .icons_div{
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 768px) {
    .left_container{
        width: 50%;
        height: auto;
    }
    .left_container > h1{
        font-size: 52px;
    }
    .left_container > h2{
        font-size: 18px;
    }
    .left_container > h3{
        font-size: 14px;
    }
    .container{
        justify-content: space-between;
        height: auto;
    }
    .right_container > img{
        height: 500px;
    }
    .right_container{
        height: 100%;
        align-items: flex-end;
        
    }
    .right_container {
        align-items: flex-end;
    }
    .text > h2{
        font-size: 12px;
    }
    .text > h3{
        font-size: 12px;
    }
    .upper_right{
        gap: 5px;
        width: 60%;
        justify-content: center;
    }
    .upper_left > h1{
        justify-content: center;
    }
    .main_footer{
        justify-content: center;
    }
    .container{
        height: 600px;
    }
    .bottom{
        width: 417px;
        justify-content: center;
        display: flex;
    }
    
    
}
@media screen and (max-width: 425px) {
    .right_container{
        display: none;
    }
    .container{
        justify-content: center;
        height: 80vh;
    }
    .left_container{
        width: 100%;
    }
    .navigation{
        scale: 0.8;
    }
    .navigation > a{
        width: auto;
    }
}
@media screen and (max-width: 320px) {
    .right_container{
        display: none;
    }
    .icons_div > img{
        width: 30px;
    }
    .main_footer{
        flex-direction: row;
    }
    .container{
        justify-content: center;
        height: 80vh;
    }
    .left_container{
        width: 100%;
    }
    .navigation{
        scale: 0.8;
    }
    .navigation > a{
        width: auto;
    }
    .upper_left > h1{
        font-size: 1.5em;
    }
    .text > h2 {
        font-size: 8px;
    }
    .text > a> h3 {
        font-size: 8px;
    }
     .right_container{
        display: none;
    }
    .icons_div > img{
        width: 30px;
    }
    .container{
        justify-content: center;
        height: 80vh;
    }
    .left_container{
        width: 100%;
    }
    .navigation{
        scale: 0.8;
    }
    .navigation > a{
        width: auto;
    }
    .upper_left > h1{
        font-size: 1.5em;
    }
    .text > h2 {
        font-size: 8px;
    }
    .text > a> h3 {
        font-size: 8px;
    }
    .form_div{
        scale: 0.9;
    }
}



