@font-face {
    font-family: "Source Italic";
    src: url(../fonts/SourceSerif4-Italic-VariableFont_opszwght.ttf);
}
@font-face {
    font-family: "Source";
    src: url(../fonts/SourceSerif4-VariableFont_opszwght.ttf);
}
@font-face {
    font-family: "Julius";
    src: url(../fonts/JuliusSansOne-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a > img{
    width: 100px;
}
body{
    min-height: 100vh;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 164px;
    border-bottom: 1px solid rgb(160, 160, 160) ;
}
.main_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.main_header > a{
    text-decoration: none;
    color: #00D1FF;
}
.main_header > a > h1{
    font-family: "Julius";
}
.navigation{
    display: flex;
    justify-content: space-between;
    width: auto;
    align-items: center;
    gap: 20px;
}
.navigation > a{
    text-decoration: none;
    color: black;
    font-family: "Source";
    font-size: 20px;
    
}
.app_button{
    background: #00D1FF;
    color: white !important;
    font-size: 16px !important;
    width: 105px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.main{
    display: flex;
    justify-content: center;
}
.container{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 900px;
    gap: 20px;
}
.header_text{
    font-weight: 400;
    font-size: 42px;
    line-height: 150%;
    color: #000;
    font-family: "Source";
    width: 100%;
    text-align: center;
}
.chat{
    width: 1280px;
    height: 747px;
    box-shadow: 5px 6px 21px 0 rgba(0, 0, 0, 0.25);
    border: 15px solid rgba(130, 130, 130, 0.3);
    border-radius: 30px;
    padding:  20px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.message > h1{
    font-size: 34px;
    font-family: "Source";
    font-weight: normal;
    border-radius: 16px;
    background: rgba(217, 217, 217, 0.28);
    width: 735px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.input_div{
    width: 100%;
    display: flex;
    justify-content: center;
}
.input_div > input{
    border:0;
    outline:0;
    width: 100%;
    font-size: 34px;
    font-family: "Source";
    font-weight: 400;
    text-align: center;
}
input:focus {outline:none!important;}
footer{
    display: flex;
    justify-content: center;
    height: 264px;
}
.main_footer{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: solid #E6E6E6 1px;
}
.upper_left{
    width: 60%;
}
.upper_right{
    width: 40%;
    justify-content: flex-end;
    display: flex;
    gap: 32px;
}
.upper_left > h1{
   height: 80%;
   display: flex;
   
   font-weight: 100;
   font-family: "Julius";
}
.bottom{
    width: 100%;
}
.text > h2{
    text-decoration: none;
    font-size: 16px;
    font-family: "Source";
    font-weight: normal;
}
.text > a{
    text-decoration: none;
    font-size: 16px;
    font-family: "Source";
    font-weight: normal;
    color: #454545;
}
.text > a > h3{
    text-decoration: none;
    font-size: 16px;
    font-family: "Source";
    font-weight: normal;
    color: #454545;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 24px;
   
}
.icons_div{
    display: flex;
    gap: 69px;
}
@media screen and (max-width: 1024px){
    .container{
        scale: 0.6;
    }
    .text > h2{
        font-size: 10px;
    }
    .text > h3{
        font-size: 10px;
    }
    .upper_left > h1{
        font-size: 20px;
        text-align: center;
    }
    .upper_left{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main_footer{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .icons_div{
        align-items: center;
        justify-content: center;
    }
    
}
@media screen and (max-width: 1024px){
    .text > h2{
        font-size: 12px;
    }
    .text > h3{
        font-size: 12px;
    }
    .upper_right{
        gap: 5px;
        width: 60%;
        justify-content: center;
    }
    .upper_left > h1{
        justify-content: center;
    }
    .main_footer{
        justify-content: center;
    }
    .container{
        scale: 0.5;
    }
}
@media screen and (max-width: 425px) {
    .container{
        scale: 0.3;
    }
    .navigation{
        scale: 0.8;
    }
    .navigation > a{
        width: auto;
    }
    .upper_left > h1{
        font-size: 1.5em;
    }
    .text > h2 {
        font-size: 8px;
    }
    .text > a> h3 {
        font-size: 8px;
    }
     .right_container{
        display: none;
    }
    .icons_div > img{
        width: 30px;
    }
    .container{
        justify-content: center;
        height: 80vh;
    }
    .left_container{
        width: 100%;
    }
    .navigation{
        scale: 0.8;
    }
    .navigation > a{
        width: auto;
    }
    .upper_left > h1{
        font-size: 1.5em;
    }
    .text > h2 {
        font-size: 8px;
    }
    .text > a> h3 {
        font-size: 8px;
    }
}
@media screen and (max-width: 375px) {
    .container{
        scale: 0.25;
    }
    
}
